[Unit]
Description=junocli
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=junod
Group=junod
PermissionsStartOnly=true
ExecStart=/usr/bin/junocli rest-server --laddr {{JUNOCLI_ADDRESS}}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

