[Unit]
Description=junod
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=junod
Group=junod
PermissionsStartOnly=true
ExecStart=/usr/bin/junod start
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

